@font-face {
  font-family: 'Muller-Regular', sans-serif;
  src: url('../fonts/MullerRegular.woff2') format ('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Muller-Medium', sans-serif;
  src: url('../fonts/MullerMedium.woff2') format ('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Muller-Bold', sans-serif;
  src: url('../fonts/MullerBold.woff2') format ('woff2');
  font-weight: 700;
  font-display: swap;
}